

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 0 9%;

  .navlist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  a{
    color: gray;
  }

}